* {
    border: red dotted 0px;
    list-style: none;
    font-family: "Roboto";
    font-style: normal;
}

body {
    margin: 0px;
}

.header, .footer {
    padding: 0 25%;
    background-color: #1F2937;
    color: #E5E7EB;
}

.navbar h4 {
    font-size: 24px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.links {
    margin: auto 0px;
}

.links li {
    display: inline-block;
}

.content-1 {
    padding: 50px 0px;
    display: flex;
    align-items: center;
}

.rightside {
    align-items: center;
}

.fakeimg {
    height: 150px;
    width: 500px;
    background-color: gray;
    text-align: center;
    margin: auto;
}

.fakeimg p {
    margin: auto;
    line-height: 150px;
}

.content-2 {
    text-align: center;
    padding: 25px 0px;
}

.content-2 ul {
    display: inline-flex;
    gap: 50px;
    margin: auto;
}

.content-2 li {
    width: 128px;
}
.img {
    height: 128px;
    background-color: white;
    border: 4px solid #3882f6;
    border-radius: 10px;
    margin: auto;
}

.content-3 {
    padding: 25px 500px;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0px;
}    

.sign {
    margin-top: 0px;
    text-align: right;
    font-weight: bold;
}

.box, .btn {
    background-color: #3882f6;
}

.content-4 {
    padding: 25px 200px;
}

.box {
    margin: 0px 10%;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 50px 100px;
}

.box div p {
    margin: 0px
}

span {
    font-weight: bold;
}

.btn {
    border-radius: 5px;
    margin: auto 0px;
    color: white;
    padding: 5px 25px;
}

.box .btn {
    border: 2px solid white;
}

.footer {
    text-align: center;
    margin: auto;
    padding: 5px 0px;
}